{% extends "base.html" %} 
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form class="formularioJogo" method="POST" action={{ url_for('views.update_game', game_id=game.id) if game else url_for('views.new_game') }} enctype="multipart/form-data">
  {{ form.csrf_token }}
  <figure class="img thumbnail col-md-4 formularioImagem">
    <img class="img-fluid" src="{{ url_for('views.image', filename=game_cover) }}" alt="Imagem da capa do jogo">
    <figcaption>
      <label class="fileContainer">
        Mudar Capa
        <input type="file" name="imagem" accept=".jpg">
      </label>
    </figcaption>
  </figure>
  <fieldset>
    <div class="form-group inputBox">
      {{ form.name.label }}
      {{ form.name(class="form-control", value=game.nome if game else '') }}
    </div>
    <div class="form-group inputBox">
      {{ form.category.label }}
      {{ form.category(class="form-control", value=game.categoria if game else '') }}
    </div>
    <div class="form-group inputBox">
      {{ form.console.label }}
      {{ form.console(class="form-control", value=game.console if game else '') }}
    </div>
    <div class="form-group buttons">
      <input type="submit" value="Enviar" class="btn btn-primary" />
      <a href="{{ url_for('views.home') }}" class="btn btn-danger">Voltar</a>
    </div>
  </fieldset>
</form>

{% endblock %}