{% extends "base.html" %} 
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form method="POST" action={{ url_for('update_game', game_id=game.id) if game else url_for('new_game') }} enctype="multipart/form-data">
  
  <figure>
    <img src="{{ url_for('image', filename='capa_padrao.jpg') }}" alt="Imagem da capa do jogo">
    <figcaption>
      <label class="fileContainer">
        Mudar Capa
        <input type="file" name="arquivo" accept=".jpg">
      </label>
    </figcaption>
  </figure>
  <fieldset>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" class="form-control" value={{ game.nome if game else '' }} />
    </div>
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <input type="text" id="categoria" name="categoria" class="form-control" value={{ game.categoria if game else '' }} />
    </div>
    <div class="form-group">
      <label for="console">Console</label>
      <input type="text" id="console" name="console" class="form-control" value={{ game.console if game else '' }} />
    </div>
    <button type="submit" class="btn btn-primary btn-salvar">
        {{ 'Atualizar' if game else 'Cadastrar' }}
    </button>
  </fieldset>
</form>

{% endblock %}