{% extends 'base.html' %} {% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<form method="POST" action="{{url_for('login')}}">
  <input type="hidden" name="next-page" value="{{ next_page or url_for('home') }}" />
  <p>
    <label>Nome de usuário:</label>
    <input class="form-control" type="text" name="user" required />
  </p>
  <p>
    <label>Senha:</label>
    <input class="form-control" type="password" name="password" required />
  </p>
  <p><button class="btn btn-primary" type="submit">Entrar</button></p>
</form>
{% endblock %}
